.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  gap: 12px;
}

.todoPar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.todoInpHdr {
  display: flex;
  font-weight: bold;
}

.todoInpPar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.todoLstPar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.todoLst {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.todoLst[data-ui-completed="true"] {
  text-decoration: line-through;
}
